* {
    margin: 0;
}


header.top{
    width:100%;
    background-color: black;
    color:white;
    text-align:center;

}

header h1 {
    padding: 20px 10px 5px;
}

header p{
    padding-bottom: 5px;
}

.left{
    position: absolute;
    width: 48%;
    min-height: 80%;
    display: table;
    border-right: 1px solid black;
}

.content{
    width: 100%;
    display: table-cell;
    text-align: center; 
    vertical-align: middle;
    margin: auto;
    padding: auto;

}

.righttop{
    float: right;
    width: 50%;
    padding-top: 30px;
}

.righttop p{
    margin-top: 10px;
    margin-bottom: 5px;
}

.righttop p span{
    background-color: yellow;
}

.rightbottom:hover{
    display: none;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: black;
    color: white;
    bottom: 0;
    padding-top:20px;
    padding-bottom:20px;
}